doctype html
html
	head
		meta(charset='utf-8')
	body
		h1 
			a(href='/predict/topic') Server Side JavaScript
		ul
			each topic in topics
				li
					a(href='/predict/topic/'+topic)=topic
		artcle
			form(action='/predict/topic' method='post')
				p
					input(type='text' name='title' placeholder='title')
				p
					textarea(name='description')
				p
					input(type='submit')
			