doctype html
html
	head
		meta(charset='utf-8')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/fun.js")
	body

		h1	DKE LAB 
		h1	SPA 
		h1	Simulation Provenance Analytics
		h2  Job Status Prediction Test
		p
			input(type='button' name='home' value='home')
		p
			form(action='/predict/topic' method='get')
			select(id='cluster_box')
				option(value='' selected) --choice--
				each element in cluster
					option(value=element) #{element}
			input(type='button' name='next1' onclick='getScienceAppName()' value='>')
			input(type='button' name='back1' value='<')
		
			select(id='scienceappname_box')
				option(value='' selected) --choice--
			input(type='button' name='next2' onclick='getParameter()' value='>')
			input(type='button' name='back2' value='<')
		
			table(id='parameter_table' border="1")
				tr
					th Parameter
					th Value

			p
				input(type='button' name='send' onclick='getResult()' value='Confrim Predict')
				input(type='button' name='reset' value='Reset Predict')
			p
				h3 result
				label(id='result' ) result

		

			